<p-button class="btn-create" (click)="showDialog()" icon="pi pi-plus" label="Novo motorista" />

<p-dialog 
  header="Adicionar Motorista" 
  [modal]="true" 
  [(visible)]="visible" 
  [style]="{width: '40rem'}"
>
  <form *ngIf="!loading" [formGroup]="formDriver" (ngSubmit)="onSubmit()">
    <div class="form-group row">

      <div class="p-2 col-6 p-field">
        <label for="nmDriver">Nome completo</label>
        <input pInputText id="nmDriver" class="form-control" formControlName="nmDriver" />
      </div>

      <div class="p-2 col-6 p-field">
        <label for="dtBirth">Data de nascimento</label>
        <input
          pInputText
          mask="00/00/0000"
          id="dtBirth"
          class="form-control"
          formControlName="dtBirth"
          [ngClass]="{
            'is-invalid': formDriver.get('dtBirth')?.invalid && formDriver.get('dtBirth')?.touched
          }"
        />
        <div
          *ngIf="formDriver.get('dtBirth')?.invalid && formDriver.get('dtBirth')?.touched"
          class="error-message"
        >
          Data inválida ou menor de 18 anos!
        </div>
      </div>

      <div class="p-2 col-6 p-field">
        <label for="cpf">CPF</label>
        <input 
          [ngClass]="{'is-invalid': formDriver.get('cpf')?.invalid && formDriver.get('cpf')?.touched}" 
          mask="000.000.000-00" 
          pInputText id="cpf" 
          class="form-control" 
          formControlName="cpf"
        />
        <div *ngIf="formDriver.get('cpf')?.invalid && formDriver.get('cpf')?.touched" class="error-message">
          CPF inválido!
        </div>
      </div>

      <div class="p-2 col-6 p-field">
        <label for="gender">Gênero</label>
        <p-select 
          class="w-100" 
          id="gender" 
          [options]="gender" 
          optionLabel="value" 
          placeholder="Selecionar" 
          formControlName="gender" 
          optionValue="value" 
        />
      </div>

      <div class="p-2 col-6 p-field">
        <label for="modelCar">Modelo do carro</label>
        <input pInputText id="modelCar" class="form-control" formControlName="modelCar" />
      </div>

      <div class="p-2 col-6 p-field">
        <label for="status">Status</label>
        <p-select 
          class="w-100" 
          id="status" 
          [options]="status" 
          optionLabel="name" 
          placeholder="Selecionar" 
          formControlName="status" 
          optionValue="value" 
        />
      </div>

      <p-button [disabled]="!formDriver.valid" type="submit" class="mt-3 btn-create" label="Adicionar"></p-button>
    </div>
  </form>

  <div class="d-flex justify-content-center" *ngIf="loading">
    <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
  </div>

</p-dialog>

<p-toast />
