<div class="row p-4">
  <div class="col-lg-4 col-sm-12 col-md-6 d-flex justify-content-center">
    <app-card-home link="driver" [desc]="cardInfos[0].desc" [header]="cardInfos[0].title"></app-card-home>
  </div>
  <div class="col-lg-4 col-sm-12 col-md-6 d-flex justify-content-center">
    <app-card-home link="passanger" [desc]="cardInfos[1].desc" [header]="cardInfos[1].title"></app-card-home>
  </div>
  <div class="col-lg-4 col-sm-12 col-md-6 d-flex justify-content-center">
    <app-card-home link="trip" [desc]="cardInfos[2].desc" [header]="cardInfos[2].title"></app-card-home>
  </div>
</div>
