<p-button class="btn-create" (click)="showDialog()" icon="pi pi-plus" label="Nova corrida" />

<p-dialog 
  header="Criar corrida" 
  [modal]="true" 
  [(visible)]="visible" 
  [style]="{width: '40rem'}"
>
  <form *ngIf="!loading" [formGroup]="formTrip" (ngSubmit)="onSubmit()">
    <div class="form-group row">

      <div class="p-2 col-6 p-field">
        <label for="start">Endereço de partida</label>
        <div>
          <p-autoComplete 
            class="w-100"
            id="start" 
            [suggestions]="filteredStartAddresses" 
            (completeMethod)="getAddress($event,'start')" 
            field="description" 
            [forceSelection]="true" 
            [minLength]="5" 
            (onSelect)="getDistance()"
            formControlName="startAddress"
            placeholder="Digite o endereço de partida" 
            [completeOnFocus]="true" 
          ></p-autoComplete>
        </div>
      </div>

      <div class="p-2 col-6 p-field">
        <label for="end">Endereço de chegada</label>
        <div>
          <p-autoComplete 
            id="end" 
            class="w-100"
            [suggestions]="filteredEndAddresses" 
            formControlName="endAddress"
            (completeMethod)="getAddress($event,'end')" 
            field="description" 
            [forceSelection]="true" 
            [minLength]="5" 
            (onSelect)="getDistance()"
            placeholder="Digite o endereço de chegada" 
            [completeOnFocus]="true" 
          ></p-autoComplete>
        </div>
      </div>
      

      <div class="p-2 col-6 p-field">
        <label for="nmDriver">Nome do motorista</label>
        <p-select 
          class="w-100" 
          id="nmDriver" 
          [options]="drivers" 
          optionLabel="nmDriver" 
          placeholder="Selecionar" 
          formControlName="idDriver" 
          optionValue="idDriver" 
        />
      </div>

      <div class="p-2 col-6 p-field">
        <label for="nmPassanger">Nome do passageiro</label>
        <p-select 
          class="w-100" 
          id="nmPassanger" 
          [options]="passangers" 
          optionLabel="nmPassanger" 
          placeholder="Selecionar" 
          formControlName="idPassanger" 
          optionValue="idPassanger" 
        />
      </div>

      <div class="p-2 col-6 p-field">
        <label for="value">Valor por Kilômetro</label>
        <input 
          id="value"
          class="form-control"
          pInputText
          mask="separator.2"
          prefix="R$ "
          thousandSeparator="."
          decimalMarker=","
          (input)="calculateTripValue()"
          [(ngModel)]="kmValue"
          [ngModelOptions]="{standalone: true}"
        />
      </div>

      <div class="p-2 col-6 d-flex align-items-end justify-content-center">
       Distância total : {{ distance?.distance?.text ? distance.distance.text : ''| uppercase}} <br>
       Valor da Corrida: {{ formTrip.get('tripValue')?.value | currency:'BRL':'symbol':'1.2-2' }}

      </div>

      <p-button [disabled]="!formTrip.valid" type="submit" class="mt-3 btn-create" label="Adicionar"></p-button>
    </div>
  </form>

  <div class="d-flex justify-content-center" *ngIf="loading">
    <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
  </div>

</p-dialog>

<p-toast />